.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: red;
  grid-column: 1 / -1;
  padding: 0 6rem;
  background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url("../img/robot.gif");
  background-position: 100% 100%;

  &__logo {
  
    display: block;
    height: 6rem;
  }
}
