.nav__container {
  
  max-width: 30%;

  color: $color-font-light-1;
}
.nav {
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    &:nth-of-type(2n-1) {
      margin-right: 2.5em;
    }
  }
  &__link {
    text-decoration: none;
    color: currentColor;
    font-size: 1.8rem;
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: .5rem;
    fill: currentColor;
  }
}