@mixin icon {
  background-color: transparent;
  color: currentColor;
  border: none;
  cursor: pointer;
}

.vocabulary {
  grid-column: 3 / -1;
  display: grid;
  padding: 1.5rem;
  background-color: $color-grey-dark-3;
  background-clip: content-box;
  font-size: 1.8rem;
  
  &__container {
    padding: 1.5rem;
  }



  // header
  &__header {
    display: flex;
    align-items: baseline;
    margin: 2rem 2rem 0 1rem;
  }
  &__headword {
    text-transform: capitalize
  }
  &__functional-label {
    margin-left: 1rem;

  }
  &__pronunciation {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  &__ipa {
    &:before, &:after {
      content: " /";
    }
  }
  &__sound {
    @include icon;
    margin-left: 1rem;
    &-icon {
      fill: $color-primary;
      width: 2rem;
      height: 2rem;
    }
    &-audio {

    }
  }
  
  &__brief-container {
    margin: 0 2rem;
  }

  &__brief {
    padding: 0 2rem;
    &-list {
      padding: 0 2rem;
      list-style-position: inside;
      border: .1rem solid $color-primary-dark;
    }
    &-item {
      padding-left: 2rem;
      &:first-child { padding-top: 2rem; }
      &:last-child { padding-bottom: 2rem; }
    }
  }
  
  &__save {
    @include icon;
    margin-left: auto;
    &-icon, &-icon {
      fill: $color-primary;
      width: 2.5rem;
      height: 2.5rem;
    }
  }  

  //  definiton
  &__definition {
    padding-left: 1em;
    font-size: 1.7rem;
    counter-increment: definition;
    &:first-of-type {
      counter-set: definition 1;
      counter-set: sense a;
    }
    &:nth-of-type(2n) {
      margin: 1em 0;
    }
      &::before {
        content: counter(definition);
      }
  }
  &__grammatical {
    font-size: 1.8rem;
    &::before {
      content: "\0020" "[";
    }
    &::after {
      content: "]";
    }
  }
  
  &__senses {
    counter-increment: sense;
    margin-left: 1em;
    &-text {
      &::before {
        content: counter(sense, lower-alpha) "\0020" ":" "\0020";
        
      }
      
    }
  }
  
  &__list-example {
    margin-left: 3em;
    
  }
  &__example {

  }

  &__usage {
    &-text {

      &::before {
        content: "\2014" "\0020" "\0020";
      }
    }
  }
  
  &__label {
    color: $color-font-light-2;
    &::before {
      content: "\0020" "[" "\0020";
    }
    &::after {
      content: "\0020" "]" "\0020";
    }
  }
  
  &__seealso {
    &::before {
      content: "\2014" "\0020" "\0020";
    }
    
  }

  
  &__crossRef {
    margin: 1rem;
    padding-left: 1em;
    font-size: 1.7rem;
  }
}



// suggestion
.vocabulary {
  &__suggestion {
    padding: 3rem;
  }

  &__suggestion-list {
    margin-left: 4rem;
  }
  &__link {
    color: currentColor;
  }
}

//loading 
.vocabulary {
  &__loading {
    height: 70vh;
  }
  &__loading-text {
    text-align: center;
  }
}